/* Styles */

p {
    background-color:rgb(253, 255, 152);
    text-align: center;
}

.bluefont {
    color:rgb(0, 46, 253);
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}

img {
    height: auto;
    width: 455px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;

}